* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans', Arial, Helvetica;
}

h1 {
	font-family: Raleway;
	font-size: 42px;
	color: white;
}

h2 {
	font-size: 15px;
	color: #adaeb0;
}

h3 {
	font-size: 18px;
	color: #adaeb0;
}

h4 {
	font-size: 13px;
	color: #adaeb0;
}

.title-black {
	font-family: Raleway;
	font-size: 42px;
	color: black;
	margin-bottom: 30px;
}

.clearfix {
	clear: both;
}

.container {
    position: relative;
	width: 1170px;
	margin: auto;
}

.header {
	background-color: white;
	position: relative;
	height: 120px;
}

.logo {
	padding-top: 40px;
	float: left;
}

.copyright {
    float: left;
}

.links {
    float: right;
}

.navigation {
	padding-top: 50px;
	float: right;
    font-family: 'Raleway', Arial, Helvetica;
    font-size: 12px;
    letter-spacing: 5px;

    div {
		display: inline-block;
		text-transform: uppercase;
	    padding-left: 30px;
	}
}


.cover {
	height: 688px;
	background-image: url("../images/indexbanner-bg3.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.text-cover {
	padding-left: 100px;
	padding-top: 220px;
	width: 435px;

	h2 {
	    padding-top: 30px;
	    line-height: 25px;
	}
}

.search-input {
	height: 100px;
	width: 1010px;
	vertical-align: top;
	font-size: 18px;
	padding-left: 20px;
	box-shadow: 0px 0px 10px rgba(37, 28, 28, 0.2);
	position: absolute;
	top: 640px;
}

.search-button {
	display: inline-block;
	height: 100px;
	width: 160px;
	background-color: #00adf2;
	text-transform: uppercase;
	color: white;
	position: absolute;
	top: 640px;
	right: 0px;
    text-align: center;
    padding-top: 35px;

    p {
		display: inline-block;
		font-family: $font-family;
		font-size: 12px;
		letter-spacing: 5px;
	}
}

.snippet-info {
	display: inline-block;
	text-align: center;
	width: 24.7%;
}

.first-info {
	margin-top: 120px;
}

.subtitles {
	font-family: $font-family;
	font-size: 14px;
	font-weight: black;
	letter-spacing: 5px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.subtitles-info {
	font-size: 13px;
	color: #adaeb0;
	padding-right: 30px;
	padding-left: 30px;
}

.title-services {
	text-align: center;
	margin-top: 125px;
}

.title-services-pricing {
	text-align: center;
	padding-top: 160px;
}

.combo-phone {
	text-align: center;
	margin-top: 70px;
}

.info-left {
	vertical-align: top;
	display: inline-block;
	width: 350px;
}

.phone {
	vertical-align: top;
	display: inline-block;
	text-align: center;
	position: relative;
	z-index: 0;
}

.info-right {
	vertical-align: top;
	display: inline-block;
	width: 350px;
}

.title-left {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	width: 250px;
	padding-right: 15px;
}

.title-right {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	width: 250px;
	padding-left: 22px;
}

.img-title {
	display: table-cell;
	vertical-align: middle;
	width: 50px;
}

.snippet-info-second {
	padding-right: 50px;
	height: 100px;
	width: 355px;
	margin-bottom: 40px;
    margin-top: 40px;
}

.snippet-info-second-right {
	padding-left: 50px;
	height: 100px;
	width: 355px;
	margin-bottom: 40px;
    margin-top: 40px;
}

.info-description {
	text-align: right;
	font-size: 13px;
	color: #adaeb0;
	padding-right: 30px;
	padding-left: 30px;
}

.info-description p {
	padding-right: 43px;
}

.info-description-right {
	text-align: left;
	font-size: 13px;
	color: #adaeb0;
	padding-right: 30px;
	padding-left: 30px;

	p {
		padding-left: 43px;
	}
}


.pricing-section {
	height: 573px;
    margin-bottom: 420px;
	background-image: url("../images/pricing-bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	z-index: -1;
	top: -80px;
}

.snippet-price {
    margin-left: 10px;
    margin-right: 9px;
	padding-top: 70px;
	text-align: center;
	display: inline-block;
	height: 570px;
	width: 270px;
	background-color: white;
	box-shadow: 0px 0px 10px rgba(37, 28, 28, 0.2);
}

.text-price {
	font-size: 60px;
	font-weight: bold;
}

.text-price-color {
	font-size: 15px;
	color: #01aff4;
	padding-left: 40px;
    text-align: right;
}

.text-sub-price {
	font-size: 13px;
	color: #adaeb0;
}

sup {
	font-size: 25px;
}

.table-price {
	width: 170px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;

    tr {
		height: 40px;
	}
}



.button-price {
    line-height: 42px;
    margin: auto;
    border-radius: 5px;
    background-color: #00adf2;
    text-align: center;
	width: 170px;
    height: 42px;
    font-family: 'Raleway', Arial, Helvetica;
    font-size: 12px;
    letter-spacing: 5px;
    color: white;
}

.block-prices {
    margin-top: 120px;
}

.first-footer {
    color: white;
    text-align: center;
    background-color: #142e3f;
    height: 225px;
    line-height: 225px;
    font-size: 30px;
}

.second-footer {
    color: white;
    background-color: #091722;
    height: 110px;
    line-height: 110px;
}

b {
    color: #00aceb;
}